<div
  class="min-h-screen bg-gradient-to-br from-indigo-200 via-purple-200 to-pink-200 flex items-center justify-center p-4"
>
  <div
    class="backdrop-blur-md bg-gray-600 shadow-2xl rounded-2xl p-8 max-w-md w-full space-y-6 text-white"
  >
    <div class="text-center">
      <div class="text-4xl mb-2">🔐</div>
      <h2 class="text-2xl font-bold">Welcome Back!</h2>
      <p class="text-sm opacity-90">Please login to your account</p>
    </div>

    <form #myForm="ngForm" class="space-y-5" (ngSubmit)="onLogin()">
      <div>
        <label class="block mb-1 text-sm font-medium">Email</label>
        <div class="flex items-center bg-white/10 rounded-lg px-3 py-2">
          <span class="material-icons text-white opacity-70 mr-2"
            >username</span
          >
          <input
            [(ngModel)]="username"
            name="name"
            type="text"
            placeholder="you@example.com"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
          />
        </div>
      </div>

      <div>
        <label class="block mb-1 text-sm font-medium">Password</label>
        <div class="flex items-center bg-white/10 rounded-lg px-3 py-2">
          <span class="material-icons text-white opacity-70 mr-2">pasword</span>
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            placeholder="••••••••"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
          />
        </div>
      </div>

      <button
        type="submit"
        class="w-full py-2 rounded-lg bg-indigo-600 hover:bg-indigo-500 transition font-semibold"
        [disabled]="!myForm.form.valid"
      >
        Login
      </button>
    </form>

    <p class="text-sm text-center opacity-90">
      Don't have an account?
      <a
        routerLink="/register"
        class="underline text-white hover:text-indigo-200"
        >Register</a
      >
    </p>
  </div>
</div>
