<!-- user-form.component.html -->

<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <h2 class="text-2xl font-bold mb-4">Thêm thông tin người dùng</h2>

    <!-- Họ tên -->
    <div class="mb-4">
      <label class="block text-gray-700 font-semibold mb-2" for="name">Username</label>
      <input
        type="text"
        name="username"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
        [(ngModel)]="username" 
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-semibold mb-2" for="name">Lastname</label>
      <input
        type="text"
        name="lastname"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
        [(ngModel)]="lastname"
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-semibold mb-2" for="email">Email</label>
      <input
        type="password"
        name="password"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
        [(ngModel)]="password"
      />
    </div>

    <!-- Email -->
    <div class="mb-4">
      <label class="block text-gray-700 font-semibold mb-2" for="email">Email</label>
      <input
        type="email"
        name="email"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
        [(ngModel)]="email"
      />
    </div>

    <!-- Số điện thoại -->
    <div class="mb-4">
      <label class="block text-gray-700 font-semibold mb-2" for="phone">PhoneNumber</label>
      <input
        type="tel"
        name="phone"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
        [(ngModel)]="phone"
      />
    </div>
    <!-- Nút Submit -->
    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition"
    >
      Thêm người dùng
    </button>
  </form>
</div>
