<div
  class="min-h-screen  flex items-center justify-center p-30"
>
  <p-toast></p-toast>
  <div
    class="backdrop-blur-md bg-gray-600 shadow-xl rounded-2xl p-10 max-w-lg w-full space-y-8 text-white"
  >
    <div class="text-center">
      <h2
        class="text-4xl font-semibold text-white mb-6 animate__animated animate__fadeInUp"
      >
        Register
      </h2>
    </div>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="space-y-6">
      <!-- Tên người dùng -->
      <div>
        <label class="block mb-2 text-lg font-medium text-white"
          >User Name</label
        >
        <div
          class="flex items-center bg-white/10 rounded-lg px-4 py-3 focus-within:ring-2 focus-within:ring-indigo-500 transition duration-300"
        >
          <span class="material-icons text-white opacity-70 mr-3"
            ></span
          >
          <input
            type="text"
            name="username"
            id="username"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
            [(ngModel)]="username"
            placeholder="Enter your username"
            #inputUsername = 'ngModel'
            minlength="5"
          />
        </div>
        <div *ngIf="inputUsername.invalid && (inputUsername.dirty || inputUsername.touched)" class="text-red-400 text-sm mt-1">
          <div *ngIf="inputUsername.errors?.['required']">Username is required</div>
          <div *ngIf="inputUsername.errors?.['minlength']">Password must be greater than 5 characters</div>
        </div>
      </div>

      <!-- Họ và tên -->
      <div>
        <label class="block mb-2 text-lg font-medium text-white"
          >Last Name</label
        >
        <div
          class="flex items-center bg-white/10 rounded-lg px-4 py-3 focus-within:ring-2 focus-within:ring-indigo-500 transition duration-300"
        >
          <span class="material-icons text-white opacity-70 mr-3"
            ></span
          >
          <input
            type="text"
            name="lastname"
            id="lastname"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
            [(ngModel)]="lastname"
            placeholder="Enter your lastname"
            #inputLastname = 'ngModel'
          />
        </div>
        <div *ngIf="inputLastname.invalid && (inputLastname.dirty || inputLastname.touched)" class="text-red-400 text-sm mt-1">
          <div *ngIf="inputLastname.errors?.['required']">Lastname is required</div>
        </div>
      </div>

      <!-- Mật khẩu -->
      <div>
        <label class="block mb-2 text-lg font-medium text-white"
          >Password</label
        >
        <div
          class="flex items-center bg-white/10 rounded-lg px-4 py-3 focus-within:ring-2 focus-within:ring-indigo-500 transition duration-300"
        >
          <span class="material-icons text-white opacity-70 mr-3"
            ></span
          >
          <input
            type="password"
            name="password"
            id="password"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
            [(ngModel)]="password"
            placeholder="Enter your pasword"
            #inputPassword = 'ngModel'
            minlength="5"
          />
        </div>
        <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)" class="text-red-400 text-sm mt-1">
          <div *ngIf="inputPassword.errors?.['required']">Password is required</div>
          <div *ngIf="inputPassword.errors?.['minlength']">Password must be greater than 5 characters</div>
        </div>
      </div>

      <!-- Email -->
      <div>
        <label class="block mb-2 text-lg font-medium text-white">Email</label>
        <div
          class="flex items-center bg-white/10 rounded-lg px-4 py-3 focus-within:ring-2 focus-within:ring-indigo-500 transition duration-300"
        >
          <span class="material-icons text-white opacity-70 mr-3"></span>
          <input
            type="email"
            name="email"
            id="email"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
            [(ngModel)]="email"
            placeholder="Enter your email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            #emailInput="ngModel"
          />
        </div>
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-red-400 text-sm mt-1">
          <div *ngIf="emailInput.errors?.['required']">Email is required</div>
          <div *ngIf="emailInput.errors?.['pattern']">Invalid email format</div>
        </div>
      </div>

      <!-- Số điện thoại -->
      <div>
        <label class="block mb-2 text-lg font-medium text-white"
          >Phone Numer</label
        >
        <div
          class="flex items-center bg-white/10 rounded-lg px-4 py-3 focus-within:ring-2 focus-within:ring-indigo-500 transition duration-300"
        >
          <span class="material-icons text-white opacity-70 mr-3"></span>
          <input
            type="tel"
            name="phone"
            id="phone"
            class="bg-transparent w-full outline-none text-white placeholder-white/70"
            required
            placeholder="Enter your phone"
            [(ngModel)]="phone"
            pattern="^0[0-9]{9}$"
            #phoneInput="ngModel"
          />
        </div>
        <div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)" class="text-red-400 text-sm mt-1">
          <div *ngIf="phoneInput.errors?.['required']">Phone number is required</div>
          <div *ngIf="phoneInput.errors?.['pattern']">Incorrect phone number format</div>
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          class="w-full py-3 px-6 bg-indigo-600 text-white rounded-lg hover:bg-indigo-500 transition duration-300 ease-in-out transform hover:scale-105 active:scale-95"
           [disabled]="!userForm.form.valid"
        >
          
          <span *ngIf="isVerifying" class="animate-spin mr-2">⌛</span>
        {{ isVerifying ? "sending..." : "Register" }}
        </button>
      </div>
      <p class="text-sm text-center opacity-90">
        send email again  <a class="underline text-white hover:text-indigo-200" routerLink="/send-email" >Email</a>
      </p>
    </form>
  </div>
</div>
